<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>AltVR Camera Panel</title>
        <link rel="stylesheet" href="css/camera.css"></link>
        <script src="../../react-0.13.1.js"></script>

        <!--script src="components/react/JSXTransformer.js"></script-->

        <script src="view.js"></script>
    </head>
    <body>
        <canvas id="camera-preview" height=480 width=672 style="position: absolute;" ></canvas>
        <canvas id="captured-photo" height=480 width=672></canvas>

        <div id="CameraView"></div>

        <!--script src="js/main.js"></script-->
        <script type="text/javascript">
          //Alt.Util.MountView("Camera");
        </script>
    </body>

</html>
